.hidescrollbar {
  overflow: -moz-scrollbar-none;
}

.hidescrollbar::-webkit-scrollbar {
  width: 0 !important;
}

@media screen and (min-width: 700px) {
  .responsivepadding {
    margin-left: 50px !important;
    margin-right: 50px !important;
  }
}
